body{
    background-color: $body-bg;
}
.container-border{
    border: 2px solid $navbar-custom-bg;
    background-color: $background-container;
    border-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bg-faded{
    background-color: $nav-bg;
    color: $nav-color;
}
.navbar-brand,
.navbar-light .navbar-nav .nav-link{
    color: $nav-color !important;
}